#section1
  +no-cush

#designsTop
  width: 90%
  padding: 10vh 0
  margin: 0 auto
  display: grid
  grid-template-columns: 1fr
  grid-gap: 10px
  @media (min-width: 700px)
    grid-template-columns: repeat(3, 1fr)
  img
    width: 100%
    border: 1px solid $clr-light-grey

.text-box
  width: 90%
  margin: 0 auto
  padding: 10px
  background: $clr-light-grey
  p
    color: #262626
